body{
    background: rgb(209, 218, 203);
   
}
.p{
    display: block;

}
.less{
    background: rgb(163, 25, 25);
    width: 220px;
    
}
.midle{
    background: yellow;
    width: 220px;
   
}
.more{
    background: green;
    width: 220px;
    
}
.lessL{
   background: red;
    width: 220px;
    display: block;
}
.midleM{
   background: yellow;
    width: 220px;
    display: block;
}
.moreM{
   background: green;
    width: 220px;
    display: block;
}